{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ticket_activity_logs.css' %}">
{% endblock %}

{% block content %}
<h2>Activity Log for Ticket: {{ ticket.title }}</h2>
<div class="activity-log-container">
    <table class="activity-log-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Time</th>
                <th>User</th>
                <!--<th>Details</th>-->
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.action }}</td>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.user.username }}</td>
                <!--<td>{{ log.details }}</td>-->
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}